<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Festiva! - my page</title>
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap" rel="stylesheet">
</head>
<body>
    <div class="image_container">
        <img src="https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2Fb4KHWI%2FbtrBFc5oliW%2FCXqns41D4zlfsPZjFAm2qk%2Fimg.png")/>
    </div>
    <div class="mypage-box">
        <h1>My Page</h1>
        <div class="mypage-box_text">
            <div class="mypage-box_title">아이디</div>
            <span></span>
        </div>
        <div class="mypage-box_text">
            <div class="mypage-box_title">생년월일</div>
            <span></span>
        </div>
        <div class="mypage-box_text">
            <div class="mypage-box_title">성별</div>
            <span></span>
        </div>
        <div class="mypage-box_text">
            <div class="mypage-box_title">관심사</div>
            <span></span>
        </div>
        <div class="mypage-box_btn">
            <a href="/fork"><button>뒤로가기</button></a>
            <a><button>로그아웃</button></a>
        </div>
    </div>
</body>
</html>